<footer id="footer"><!--Footer-->
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-sm-2">
                    <div class="companyinfo">
                        <h2><span>Khanh</span>-Store</h2>
                        <p>Mang đến cho quý khách hàng những sản phẩm tốt nhất từ KhanhStore</p>
                    </div>
                </div>
                <div class="col-sm-7">
                    <div class="col-sm-3">
                        <div class="video-gallery text-center">
                            <a href="#">
                                <div class="iframe-img">
                                    <img src="assets/images/home/iframe1.png" alt="" />
                                </div>
                            </a>
                        </div>
                    </div>
                    
                    <div class="col-sm-3">
                        <div class="video-gallery text-center">
                            <a href="#">
                                <div class="iframe-img">
                                    <img src="assets/images/home/iframe2.png" alt="" />
                                </div>
                            </a>
                        </div>
                    </div>
                    
                    <div class="col-sm-3">
                        <div class="video-gallery text-center">
                            <a href="#">
                                <div class="iframe-img">
                                    <img src="assets/images/home/iframe3.png" alt="" />
                                </div>
                            </a>
                        </div>
                    </div>
                    
                    <div class="col-sm-3">
                        <div class="video-gallery text-center">
                            <a href="#">
                                <div class="iframe-img">
                                    <img src="assets/images/home/iframe4.png" alt="" />
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="address">
                        <img src="assets/images/home/map.png" alt="" />
                        <p>TT Ân Thi - Ân Thi - Hưng Yên</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="footer-widget">
        <div class="container">
            <div class="row">
                <div class="col-sm-2">
                    <div class="single-widget">
                        <h2>THÔNG TIN KHANHSTORE</h2>
                        <ul class="nav nav-pills nav-stacked">
                            <li><a href="#">Hệ thống 1000 cửa hàng (8:00 - 22:00)</a></li>
                            <li><a href="#">Giới thiệu công ti</a></li>
                            <li><a href="#">Tìm kiếm việc làm</a></li>
                            <li><a href="#">Liên hệ, góp ý</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="single-widget">
                        <h2>Hỗ trợ khách hàng</h2>
                        <ul class="nav nav-pills nav-stacked">
                            <li><a href="#">Tìm kiếm mua trả góp</a></li>
                            <li><a href="#">Giao hàng, lắp đặt</a></li>
                            <li><a href="#">Bảo hành, đổi trả</a></li>
                            <li><a href="#">DV vệ sinh máy lạnh, máy giặt, quạt</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="single-widget">
                        <h2>Tổng đài hỗ trợ miễn phí</h2>
                        <ul class="nav nav-pills nav-stacked">
                            <li><a href="#">Mua hàng 1800.1061 (7:30 - 22:00)</a></li>
                            <li><a href="#">Kỹ thuật 1800.1764 (7:30 - 22:00)</a></li>
                            <li><a href="#">Bảo hành1800.1065 (8:00 - 21:00)</a></li>
                            <li><a href="#">Khiếu nại 1800.1063 (8:00 - 21:30)</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="single-widget">
                        <h2>Liên kết</h2>
                        <ul class="nav nav-pills nav-stacked">
                            <li><a href="#">fb.com/khanhsore</a></li>
                            <li><a href="#">youtube.com/khanhsore</a></li>
                            <li><a href="#">gmail.com/khanhsore</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-3 col-sm-offset-1">
                    <div class="single-widget">
                        <h2>KhanhStore</h2>
                        <form action="#" class="searchform">
                            <input type="text" placeholder="Địa Chỉ Email" />
                            <button type="submit" class="btn btn-default"><i class="fa fa-arrow-circle-o-right"></i></button>
                            <p>Chúng tôi sẽ ghi nhận những ý kiến của khách hàng để KhanhStore phát triển ngày<br /> một tốt đẹp hơn</p>
                        </form>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <p class="pull-left">Copyright © 2013 E-SHOPPER Inc. All rights reserved.</p>
                <p class="pull-right">Designed by <span><a target="_blank" href="http://www.themeum.com">Themeum</a></span></p>
            </div>
        </div>
    </div>
    
</footer><!--/Footer-->