<section id="cart_items">
    <div class="container">
        <div class="breadcrumbs">
            <ol class="breadcrumb">
              <li><a href="">Home</a></li>
              <li class="active">Thanh toán</li>
            </ol>
        </div>
        <div class="register-req">
            <p></p>
        </div><!--/register-req-->

        <div class="shopper-informations" style="padding-bottom: 250px;">
            <div class="row">
                </div>
                <div class="col-sm-10 clearfix">
                    <div class="bill-to">
                        <p>Điền thông tin</p>
                        <div class="form-one">
                            <form [formGroup]="orderForm" (ngSubmit)="onSubmit(orderForm.value)">
                                
                            
                                <input type="text"  formControlName="ho_ten" placeholder="Họ tên">
                                
                                <input type="text" formControlName="dia_chi"  placeholder="Địa chỉ">
                                <input type="text" formControlName="sdt"  placeholder="Số điện thoại">

                                <button type="submit" class="button login"><span>Gửi</span></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        

        <div class="review-payment">
            <h2>Xem Lại Giỏ Hàng</h2>
        </div>

        <div class="table-responsive cart_info">
            <table class="table table-condensed">
                <thead>
                    <tr class="cart_menu">
                        <td class="image">Sản Phẩm</td>
                        <td class="description"></td>
                        <td class="price">Giá</td>
                        <td class="quantity">Số Lượng</td>
                        <td class="total">Tổng Tiền</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let it of items">
                        <td class="cart_product">
                            <a href=""><img src="assets/{{it.anh}}" alt="" style = "width:200px; height:200px;"></a>
                        </td>
                        <td class="cart_description">
                            <h4><a href="">{{it.tensp}}</a></h4>
                        </td>
                        <td class="cart_price">
                            <p>{{it.dongia | currency:"VND" }}</p>
                        </td>
                        <td class="cart_quantity">
                            <div class="cart_quantity_button">
                                
                                <h3>{{it.quantity}}</h3>                               
                            </div>
                        </td>
                        <td class="cart_total">
                            <p class="cart_total_price">{{it.dongia * it.quantity | currency:"VND" }}</p>
                        </td>
                        <td class="cart_delete">
                            <a class="cart_quantity_delete" href=""><i class="fa fa-times"></i></a>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4">&nbsp;</td>
                        <td colspan="2">
                            <table class="table table-condensed total-result">
                                <tr class="shipping-cost">
                                    <td>Giá Vận Chuyển</td>
                                    <td>Free</td>										
                                </tr>
                                <tr>
                                    <td>Tổng Tiền</td>
                                    <td><span>{{order_total | currency:"VND" }}</span></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        
        
    </div>
</section> <!--/#cart_items-->