<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="left-sidebar">
                    <h2>Loại Sản Phẩm</h2>
                    <div class="panel-group category-products" id="accordian"><!--category-productsr-->
                        
                        <ng-container *ngFor="let getloaisp of loaisp">
                        
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title"><a [routerLink] = "['/home/type-product',getloaisp.maloai]">{{getloaisp.tenloai}}</a></h4>
                            </div>
                        </div>
                    </ng-container>
                    </div><!--/category-products-->
                
                    
                    <div class="shipping text-center"><!--shipping-->
                        <img src="assets/images/home/shipping.jpg" alt="" />
                    </div><!--/shipping-->
                    
                </div>
            </div>
            
            <div class="col-sm-9 padding-right">
                <div class="features_items">
                    <h2 class="title text-center">Sản Phẩm</h2>
                    <ng-container *ngFor="let spofloaisps of spofloaisp">
                    <div class="col-sm-4">
                        <div class="product-image-wrapper">
                            <div class="single-products">
                                <div class="productinfo text-center">
                                    <a [routerLink] = "['/home/details',spofloaisps.maSP]"><img src="assets/{{spofloaisps.anh}}" alt="" /></a>
                                    <h2>{{spofloaisps.dongia}} VNĐ</h2>
                                    <p>{{spofloaisps.tensp}}</p>
                                    <a routerLink = "/cart"><button class="button btn-cart ajx-cart" title="Add to Cart" type="button" (click)="addToCart(spofloaisps)"><span>Add to Cart</span></button>
                                        <span class="add-to-links"> </span>    </a>                                 </div>
                                
                            </div>
                            
                        </div>
                    </div>
                </ng-container>
                    
            </div>
        </div>
    </div>
    </div>
</section>