<section id="cart_items">
    <div class="container">
        <div class="breadcrumbs">
            <ol class="breadcrumb">
              <li><a href="#">Home</a></li>
              <li class="active">Shopping Cart</li>
            </ol>
        </div>
        <div class="table-responsive cart_info">
            <table class="table table-condensed">
                <thead>
                    <tr class="cart_menu">
                        <td class="image">Item</td>
                        <td class="description"></td>
                        <td class="price">Price</td>
                        <td class="quantity">Quantity</td>
                        <td class="total">Total</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    <tr class="first odd" *ngFor="let c of items">
                        <td class="cart_product" >
                            <a href="" ><img src="assets/{{c.anh}}" alt="" style="width:200px; height:200px;"></a>
                        </td>
                        <td class="cart_description">
                            <h4><a href="">{{c.tenSP}}</a></h4>
                            
                        </td>
                        <td class="cart_price">
                            <p>{{c.donGia | currency:"VND"}}</p>
                        </td>
                        <td class="cart_quantity">
                            <div class="cart_quantity_button">
                                
                                <input class="cary_quantity_input" name="qtybutton" #inp  min="1" max="100" (change)="addQty(c,inp.value)" [value]="c.quantity" type="number">
                                
                            </div>
                        </td>
                        <td class="cart_total">
                            <p class="cart_total_price">{{c.quantity * c.donGia}}</p>
                        </td>
                        <td class="cart_delete">
                            <a class="button remove-item" title="Remove item" (click)="_cart.deleteItem(c.maSP)"><i class="fa fa-times"></i></a>
                        </td>
                    </tr>

                    
                </tbody>
            </table>
        </div>
    </div>
</section> <!--/#cart_items-->

<section id="do_action">
    <div class="container">
        <div class="heading">
            <h3>Bạn Muốn Thanh Toán?</h3>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="total_area">
                    <ul>
                        <li>Tổng Tiền Trong Giỏ Hàng <span>{{total | currency:"VND" }}</span></li>
                        <li>Giá Vận Chuyển <span>Free</span></li>
                        <li>Tổng Tiền Bạn Phải Trả <span>{{total | currency:"VND" }}</span></li>
                    </ul>
                        <a class="btn btn-default update" href="">Update</a>
                        <a routerLink="/checkout" class="btn btn-default check_out" href="">Thanh Toán</a>
                </div>
            </div>
        </div>
    </div>
</section><!--/#do_action-->